/*****
	author：gaoyingying
	time:2016/7/17 9:05;
*****/

#gcontainer{
	width: 1280px;
	height: 580px;
	margin:40px auto;
	background: url(../img/g-pic5.jpg) no-repeat ;

}

#gcontainer .first{
	color:#fff;
	font-size:14px;
	margin-top:27px;
	margin-left: 160px;
	float:left;
	padding-bottom: 0;
}

#gcontainer .tel{
	font-size: 18px;
	padding-top: 25px;
	margin-left: 512px;
	color:#fff;
	margin-right: 227px;
}
#gcontainer .menu{
	width: 237px;
	height: 23px;
	float: right;
	margin-top: -19px;
	margin-right:94px;
}
#gcontainer .menu  a{
	font-size: 14px;
	color: #fff;
}
#gcontainer .content{
	margin-top: 117px;
	margin-left: 158px;
}
#gcontainer .left,#gcontainer .right{
	width: 373px;
	height: 298px;
}
#gcontainer .left{
	float: left;
}
#gcontainer .right{
	margin-right: 158px;
	float: right;
}
#gcontainer .list{
	width: 371px;
	height: 72px;
	background: #fefefe;
	border:#666b69 solid 1px;
	font-size: 19.92px;
	color: #12b7f5;
	text-align: center;
	line-height: 72px;
}
#gcontainer .service{
	margin-top: 38px;
	margin-bottom: 38px;
}
#gcontainer .need{
	color: #4685d4;
}


.js-login-btn{
  visibility: hidden;
}


.labe-tel{
  /*display: inline-block;
  width: 200px;
  height: 40px;
  margin-left: 150px;
  line-height: 40px;*/
  font-size: 18px;
  color: #337ab7;
}
@media (min-width: 990px){
  .labe-tel{
    display: inline-block;
    width: 200px;
    height: 40px;
    margin-left: 200px;
    line-height: 40px;
  }
}

@media (min-width: 840px){
  .labe-tel{
    display: inline-block;
    width: 200px;
    height: 40px;
    /*margin-left: 50px;*/
    line-height: 40px;
  }
}

@media (max-width: 840px){
  .labe-tel{
    display: none;

  }
}

@media (max-width: 750px){
  .labe-tel{
    display: inline-block;
    width: 100px;
    height: 20px;

    line-height: 20px;
  }
}
.a-tel{
  text-decoration: none;
}
