<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>主播个人信息编辑</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/anchor-profile.css" />
  <link rel="stylesheet" href="css/dropzone.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/blue.css" />

  <style>
      .select-group{
        padding-left: 22px;
        margin-top: 8px;
      }

      .country-select{
        width: 100px;
      }

      .province-select{
        width: 150px;
      }
      .checkbox{
        margin-right: 10px;
      }
      .icheckbox_square-blue{
        margin-bottom: 4px;
        margin-right: 2px;
      }
      input[type=text]:focus,input[type=password]:focus{
        transition:border linear .2s,box-shadow linear .5s;
        -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
        -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
        outline:none;border-color:rgba(93,149,242,.75);
        box-shadow:0 0 8px rgba(93,149,242,.105);
        -moz-box-shadow:0 0 8px rgba(93,149,242,.5);
        -webkit-box-shadow:0 0 8px rgba(93,149,242,3);
        background-color: #fff;

      }

      input[type=text],input[type=password],input[type=number],input[type=email]{
        /*background: rgb(250, 255, 189);
        background-color: #d9edf7;
        background-color: #f2dede;
        background-color: #dff0d8;
        background-color: #337ab7;*/
        background-color: #fcf8e3;
      }

      .anchorCate{
        width: 100px;
      }
      .text-success{
        text-align: center;
      }

  </style>

</head>
<body>

  <header class='navbar navbar-default navbar-fixed-top' id='main-navbar' role='banner'>
		<div class='container-fluid'>
			<div class='navbar-header'>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	      </button>
        <!-- <a href="index5.html" target="_blank">广告主公司名称</a> -->
			  <!-- <img class="logo" alt="" src="img/favicon.ico"> -->
			</div>
			<nav class='collapse navbar-collapse' role='navigation'>
			  <ul class='nav navbar-nav navbar-left'>
			    <li><a href="index5.html" target="_blank">主播名称</a></li>
			    <li class="active"><a href="#">账号管理</a></li>
			  </ul>



        <ul class='nav navbar-nav navbar-right'>
        <a class="btn btn-primary navbar-btn login-btn" data-toggle="modal" data-target="#anchor-reg" href="ader-setting.html">账号管理</a>
        <a class="btn btn-default navbar-btn login-btn" data-toggle="modal" data-target="#anchor-reg" href="#">退出登录</a>

        <a class="btn navbar-btn js-login-btn" href="#">Register</a>

        </ul>
			</nav>
		</div>
	</header>


  <div class="container">
    	<div class="row">
	        <div class="col-md-8">
            <div class="panel panel-info">
    					<div class="panel-heading">
    						<h3 class="panel-title">主播信息编辑</h3>
    					</div>
  					  <div class="panel-body">
    						<form class="form-horizontal" action="#" method="post">
                  <blockquote>
                  <p>如果需要更改其他信息，请与客服联系</p>
                  <!-- <span class="label label-info">400-8800-8800</span> -->
                  <footer>客服电话：<a href="tel:400-8800-8800">400-8800-8800</a> <cite title="Source Title">feelingsmedie.com</cite></footer>
                  </blockquote>
    						    <input name="userId" type="hidden" value="">

      						  <div class="form-group">
      						    <label for="platform" class="col-md-offset-1 col-md-2 control-label">直播平台</label>
      						    <div class="col-md-7">
      						      <input name="platform" type="text" class="form-control" id="platform" placeholder="" value="斗鱼TV">
      						    </div>
      						  </div>

      						  <div class="form-group">
      						    <label for="platformId" class="col-md-offset-1 col-md-2 control-label">直播ID</label>
      						    <div class="col-md-7">
      						      <input name="platformId" type="text" class="form-control" id="platformId" placeholder="" value="ID:459087">
      						    </div>
      						  </div>

      						  <div class="form-group">
      						    <label for="tel" class="col-md-offset-1 col-md-2 control-label">联系方式</label>
      						    <div class="col-md-7">
      						      <input name="tel" type="number" class="form-control" id="tel" placeholder="" value="15712345678">
      						    </div>
      						  </div>

      						  <div class="form-group">
      						    <label for="email" class="col-md-offset-1 col-md-2 control-label">邮箱</label>
      						    <div class="col-md-7">
      						      <input name="email" type="email" class="form-control" id="email" placeholder="" value="lwdgzyx@gmail.com">
      						    </div>
      						  </div>

      						  <div class="form-group">
                      <div class="form-group">
                        <label for="region" class="col-md-offset-1 col-md-2 control-label">地域</label>
                        <div class="col-md-7 select-group">
                          <select name="country" id="country" class="form-control country-select col-md-8">
                            <option value="">请选择</option>
                            <option value="中国大陆" selected="selected">中国大陆</option>
                            <option value="中国香港">中国香港</option>
                            <option value="中国澳门">中国澳门</option>
                            <option value="中国台湾">中国台湾</option>
                          </select>

                          <select name="country" id="province" class="form-control province-select">
                            <option value="">请选择</option>
                            <option value="北京市">北京市</option>
                            <option value="天津市">天津市</option>
                            <option value="河北省">河北省</option>
                            <option value="山西省">山西省</option>
                            <option value="内蒙古自治区">内蒙古自治区</option>
                            <option value="辽宁省">辽宁省</option>
                            <option value="吉林省">吉林省</option>
                            <option value="黑龙江省">黑龙江省</option>
                            <option value="上海市" selected="selected">上海市</option>
                            <option value="江苏省">江苏省</option>
                            <option value="浙江省">浙江省</option>
                            <option value="安徽省">安徽省</option>
                            <option value="福建省">福建省</option>
                            <option value="江西省">江西省</option>
                            <option value="山东省">山东省</option>
                            <option value="河南省">河南省</option>
                            <option value="湖北省">湖北省</option>
                            <option value="湖南省">湖南省</option>
                            <option value="广东省">广东省</option>
                            <option value="广西壮族自治区">广西壮族自治区</option>
                            <option value="海南省">海南省</option>
                            <option value="重庆市">重庆市</option>
                            <option value="四川省">四川省</option>
                            <option value="贵州省">贵州省</option>
                            <option value="云南省">云南省</option>
                            <option value="西藏自治区">西藏自治区</option>
                            <option value="陕西省">陕西省</option>
                            <option value="甘肃省">甘肃省</option>
                            <option value="青海省">青海省</option>
                            <option value="宁夏回族自治区">宁夏回族自治区</option>
                            <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                            <option value="香港特别行政区">香港特别行政区</option>
                            <option value="澳门特别行政区">澳门特别行政区</option>
                            <option value="台湾">台湾</option>
                          </select>
                        </div>
                      </div>
      						  </div>


                    <div class="form-group">
                      <label for="accountCate" class="col-md-offset-1 col-md-2 control-label">账号分类</label>
                      <div class="col-md-7">
                        <div class="checkbox">

                            <input type="checkbox" value="体育">  体&nbsp;育
                            <input type="checkbox" value="游戏">  游&nbsp;戏
                            <input type="checkbox" value="影视">  影&nbsp;视
                            <input type="checkbox" value="搞笑">  搞&nbsp;笑
                            <input type="checkbox" value="音乐" checked="checked">  音&nbsp;乐
                            <input type="checkbox" value="舞蹈">  舞&nbsp;蹈
                            <input type="checkbox" value="艺术" checked="checked">  艺&nbsp;术
                            <input type="checkbox" value="音乐">  汽&nbsp;车
                            <input type="checkbox" value="潮品">  潮&nbsp;品
                            <input type="checkbox" value="旅游">  旅&nbsp;游
                            <input type="checkbox" value="数码">  数&nbsp;码
                            <input type="checkbox" value="健康" checked="checked">  健&nbsp;康
                            <input type="checkbox" value="美食">  美&nbsp;食
                            <input type="checkbox" value="文学">  文&nbsp;学
                            <input type="checkbox" value="军事">  军&nbsp;事
                            <input type="checkbox" value="法律">  法&nbsp;律
                            <input type="checkbox" value="萌宠">  萌&nbsp;宠
                            <input type="checkbox" value="动漫">  动&nbsp;漫
                            <input type="checkbox" value="财务">  财&nbsp;务
                            <input type="checkbox" value="秀场" checked="checked">  秀&nbsp;场

                        </div>
                      </div>
                    </div>

                    <div class="form-group">
      						    <label for="fansNumber" class="col-md-offset-1 col-md-2 control-label">粉丝</label>
      						    <div class="col-md-7">
      						      <input name="fansNumber" type="number" class="form-control" id="fansNumber" placeholder="" value="89098">
      						    </div>
      						  </div>



                    <div class="form-group">
                      <label for="cate" class="col-md-offset-1 col-md-2 control-label">主播性质</label>
                      <div class="col-md-7">
                        <select name="anchorCate" id="cate" class="form-control anchorCate select-group">
                          <option value="">请选择</option>
                          <option value="公会主播" selected="selected">公会主播</option>
                          <option value="个人主播">个人主播</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
      						    <label for="alipayAccount" class="col-md-offset-1 col-md-2 control-label">银行账号</label>
      						    <div class="col-md-7">
      						      <input name="alipayAccount" type="text" class="form-control" id="alipayAccount" placeholder="" value="6217233500001220104">
      						    </div>
      						  </div>

                    <div class="form-group">
      						    <label for="qqNum" class="col-md-offset-1 col-md-2 control-label">QQ号码</label>
      						    <div class="col-md-7">
      						      <input name="qqNum" type="number" class="form-control" id="qqNum" placeholder="" value="445913035">
      						    </div>
      						  </div>

    						  <div class="form-group">
    						    <div class="col-md-offset-3 col-md-10">
    						      <button type="submit" class="btn-lg btn-success">保存修改</button>
    						    </div>
    						  </div>
    						</form>
  					</div>
				</div>
      </div>






           <div class="col-md-4">
              <div class="panel panel-info">
           	    <div class="panel-heading">
                  <h3 class="panel-title">主播照片</h3>
                </div>
           		  <div class="panel-body">
           			  <div class="thumbnail">
           		      	<img class="img img-circle img-thumbnail" src="img/anchor.jpg" alt="...">
           		      	<div class="caption">
             		        <h3 class="name bg-info text-success">@皇甫小乔</h3>
             		        <p class="desc text-info"></p>
           		        </div>
           		    </div>
           	  </div>
             </div>


             <div class="panel panel-info">
                <div id="dropzone">
                  <form action="#" method="post" class="dropzone needsclick dz-clickable" id="demo-upload" enctype="multipart/form-data">
                      <div class="dz-message needsclick">
                        Drop files here or click to upload.
                        <!-- <input type="file" name="file"> -->
                      </div>
                  </form>
                </div>
            </div>


<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/dropzone.min.js"></script>
<script src="js/icheck.js"></script>
<script>
    $('input').iCheck({ checkboxClass: 'icheckbox_square-blue', radioClass: 'iradio_square-blue', increaseArea: '20%'  });
</script>

<script>
    $("#dropzone").dropzone({
        url: "handle-upload.php",
        maxFiles: 10,
        maxFilesize: 512,
        acceptedFiles: ".jpg,.png,.bmp"
    });
</script>

</body>
</html>
