<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>广告主主播需求信息列表</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/anchor-need-profile.css" />
  <link rel="stylesheet" href="css/style.css" />
  <style>
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11,
  .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
  .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
  .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 0px;
    padding-left: 0px;
  }
  .container{
    /*margin-left: 100px;*/
  }
  .a-tel{
    color: #337ab7;
    text-decoration: none;
  }
  </style>





</head>
<body>

  <header class='navbar navbar-default navbar-fixed-top' id='main-navbar' role='banner'>
		<div class='container-fluid'>
			<div class='navbar-header'>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	      </button>
        <!-- <a href="index5.html" target="_blank">广告主公司名称</a> -->
			  <!-- <img class="logo" alt="" src="img/favicon.ico"> -->
			</div>
			<nav class='collapse navbar-collapse' role='navigation'>
			  <ul class='nav navbar-nav navbar-left'>
			    <li><a href="index5.html" target="_blank">广告主公司名称</a></li>
			    <li class="active"><a href="#">账号信息</a></li>
			  </ul>

        <div class="label labe-tel"><i class="fa fa-phone"></i> <a class="a-tel" href="tel:4006668800">合作咨询：400-666-8800</a></div>

        <ul class='nav navbar-nav navbar-right'>
        <a class="btn btn-success navbar-btn login-btn" data-toggle="modal" data-target="#anchor-reg" href="anchor-need-profile.html">账号信息</a>
        <a class="btn btn-primary navbar-btn login-btn" data-toggle="modal" data-target="#anchor-reg" href="ader-setting.html">账号管理</a>
        <a class="btn btn-default navbar-btn login-btn" data-toggle="modal" data-target="#anchor-reg" href="#">退出登录</a>

        <a class="btn navbar-btn js-login-btn" href="#">Register</a>

        </ul>
			</nav>
		</div>
	</header>





  <div class="container">
    <div class="row">
        <div class="panel panel-info col-md-3">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa fa-paint-brush"></i> 发布需求</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item list-group-item-danger">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item list-group-item-danger">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
            </ul>
          </div>
          <div class="panel-footer"><i class="fa fa-calendar"></i> 2016年6月发布</div>
        </div>

        <div class="panel panel-primary col-md-3 col-md-offset-1">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa fa-paint-brush"></i> 发布需求</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">Cras justo odio</li>
              <li class="list-group-item ">Dapibus ac facilisis in</li>
              <li class="list-group-item list-group-item-success">Morbi leo risus</li>
              <li class="list-group-item ">Porta ac consectetur ac</li>
              <li class="list-group-item list-group-item-success">Vestibulum at eros</li>
            </ul>
          </div>
          <div class="panel-footer"><i class="fa fa-calendar"></i> 2016年6月发布</div>
       </div>

       <div class="panel panel-danger col-md-3 col-md-offset-1">
         <div class="panel-heading">
           <h3 class="panel-title"><i class="fa fa fa-paint-brush"></i> 发布需求</h3>
         </div>
         <div class="panel-body">
           <ul class="list-group">
             <li class="list-group-item list-group-item-info">Cras justo odio</li>
             <li class="list-group-item ">Dapibus ac facilisis in</li>
             <li class="list-group-item list-group-item-info">Morbi leo risus</li>
             <li class="list-group-item ">Porta ac consectetur ac</li>
             <li class="list-group-item list-group-item-info">Vestibulum at eros</li>
           </ul>
         </div>
         <div class="panel-footer"><i class="fa fa-calendar"></i> 2016年6月发布</div>
      </div>

      <div class="panel panel-warning col-md-3">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa fa-paint-brush"></i> 发布需求</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item list-group-item-danger">Cras justo odio</li>
            <li class="list-group-item ">Dapibus ac facilisis in</li>
            <li class="list-group-item list-group-item-danger">Morbi leo risus</li>
            <li class="list-group-item ">Porta ac consectetur ac</li>
            <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
          </ul>
        </div>
        <div class="panel-footer"><i class="fa fa-calendar"></i> 2016年6月发布</div>
     </div>

     <div class="panel panel-success col-md-3 col-md-offset-1">
       <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa fa-paint-brush"></i> 发布需求</h3>
       </div>
       <div class="panel-body">
         <ul class="list-group">
           <li class="list-group-item list-group-item-info">Cras justo odio</li>
           <li class="list-group-item">Dapibus ac facilisis in</li>
           <li class="list-group-item list-group-item-info">Morbi leo risus</li>
           <li class="list-group-item">Porta ac consectetur ac</li>
           <li class="list-group-item list-group-item-info">Vestibulum at eros</li>
         </ul>
       </div>
       <div class="panel-footer"><i class="fa fa-calendar"></i> 2016年6月发布</div>
    </div>

    <div class="panel panel-default col-md-3 col-md-offset-1">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa fa-paint-brush"></i> 发布需求</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item list-group-item-warning">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item list-group-item-warning">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item list-group-item-warning">Vestibulum at eros</li>
        </ul>
      </div>
      <div class="panel-footer"><i class="fa fa-calendar"></i> 2016年6月发布</div>
   </div>

    </div>


    <nav>
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
         </ul>
    </nav>
  </div>






































<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>







</body>
</html>
